<p>content-card works!</p>

<span [innerHTML]="title | safe"></span>
<div>{{cList.items[0].id}} {{cList.items[0].author}} {{cList.items[0].imgUrl}} {{cList.items[0].type}} {{cList.items[0].body}} {{cList.items[0].tags}}</div>
<div>{{cList.items[1].id}} {{cList.items[1].author}} {{cList.items[1].imgUrl}} {{cList.items[1].type}} {{cList.items[1].body}} {{cList.items[1].tags}}</div>
<div>{{cList.items[2].id}} {{cList.items[2].author}} {{cList.items[2].imgUrl}} {{cList.items[2].type}} {{cList.items[2].body}} {{cList.items[2].tags}}</div>